In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({
  "A": [0, 300, 100],
  "B": ["Lorem", "Ipsum", "Lineat"],
  "C": [True, False, True],
  "D": [1.1, 2.2, 3.3]
})

data

     A       B      C    D
0    0   Lorem   True  1.1
1  300   Ipsum  False  2.2
2  100  Lineat   True  3.3

In [3]:
from app.operations import SortColumn

print(SortColumn.__code__)
SortColumn(column_name='A')(data)

SORT_COLUMN

     A       B      C    D
0    0   Lorem   True  1.1
2  100  Lineat   True  3.3
1  300   Ipsum  False  2.2

In [4]:
from app.operations import ReindexColumn
    
print(ReindexColumn.__code__)
ReindexColumn(column_name='A')(data)

REINDEX_COLUMN

          B      C    D
A
0     Lorem   True  1.1
300   Ipsum  False  2.2
100  Lineat   True  3.3

In [4]:
import requests as rq
import json

url = "http://127.0.0.1:8000/file"

body = {
    "operations": [
        {
            "code": "RENAME_COLUMN",
            "attributes": {
                "column_names": ["State", "City"],
                "new_names": ["STATE", "CITY"]
            }
        },
        {
            "code": "SORT_COLUMN",
            "attributes": {
                "column_name": "CITY",
                "ascending": True
            }
        }
    ],
}

with open("cities.csv", "rb") as file:
    # Send the request
    response = rq.post(url, json=body, files={"file": file})

# Print the response
print(response.status_code)
print(response.json())

500

JSONDecodeError: Expecting value: line 1 column 1 (char 0)