In [17]:
import pandas as pd

In [18]:
data = pd.DataFrame({
  "A": [0, 300, 100],
  "B": ["Lorem", "Ipsum", "Lineat"],
  "C": [True, False, True],
  "D": [1.1, 2.2, 3.3]
})

data

     A       B      C    D
0    0   Lorem   True  1.1
1  300   Ipsum  False  2.2
2  100  Lineat   True  3.3

In [20]:
from app.operations import SortColumn

print(SortColumn.__code__)
SortColumn(column_name='A')(data)

SORT_COLUMN

     A       B      C    D
0    0   Lorem   True  1.1
2  100  Lineat   True  3.3
1  300   Ipsum  False  2.2

In [21]:
from app.operations import ReindexColumn
    
print(ReindexColumn.__code__)
ReindexColumn(column_name='A')(data)

REINDEX_COLUMN

          B      C    D
A
0     Lorem   True  1.1
300   Ipsum  False  2.2
100  Lineat   True  3.3

In [6]:
import requests

url = "http://127.0.0.1:8000/file/"

files = {
    'files[file1]':open('cities.csv', 'rb'),
    'files[file2]': open('cities.csv', 'rb'),
}

operations = [
    {
        "code": "operation1",
        "attributes": {"key1": "value1"}
    },
    {
        "code": "operation2",
        "attributes": {"key2": "value2"}
    }
]

response = requests.post(url, data={"operations": operations, 'files': files})

print(response.json())

{'detail': [{'type': 'dict_type', 'loc': ['body', 'files'], 'msg': 'Input should be a valid dictionary', 'input': 'files[file2]'}, {'type': 'model_attributes_type', 'loc': ['body', 'operations', 0], 'msg': 'Input should be a valid dictionary or object to extract fields from', 'input': 'code'}, {'type': 'model_attributes_type', 'loc': ['body', 'operations', 1], 'msg': 'Input should be a valid dictionary or object to extract fields from', 'input': 'attributes'}, {'type': 'model_attributes_type', 'loc': ['body', 'operations', 2], 'msg': 'Input should be a valid dictionary or object to extract fields from', 'input': 'code'}, {'type': 'model_attributes_type', 'loc': ['body', 'operations', 3], 'msg': 'Input should be a valid dictionary or object to extract fields from', 'input': 'attributes'}]}

In [4]:
files

{'files[file1]': <_io.BufferedReader name='cities.csv'>,
 'files[file2]': <_io.BufferedReader name='cities.csv'>}