In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('test/cities.csv')

# Randomized the arrays to assert no possible order is maintained
data_rand = data.sample(frac=1)
assert data_rand.to_dict('records') != data.to_dict('records')

display(data.info())
display(data.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LatD    128 non-null    int64
 1   LatM    128 non-null    int64
 2   LatS    128 non-null    int64
 3   NS      128 non-null    object
 4   LonD    128 non-null    int64
 5   LonM    128 non-null    int64
 6   LonS    128 non-null    int64
 7   EW      128 non-null    object
 8   City    128 non-null    object
 9   State   128 non-null    object
dtypes: int64(6), object(4)
memory usage: 10.1+ KB

None

    LatD  LatM  LatS NS  LonD  LonM  LonS EW         City State
44    37    10    11  N   104    30    36  W     Trinidad    CO
33    49    16    12  N   123     7    12  W    Vancouver    BC
82    32     4    48  N    81     5    23  W     Savannah    GA
77    38    42    35  N    93    13    48  W      Sedalia    MO
58    40    59    24  N    75    11    24  W  Stroudsburg    PA

In [9]:
def test_SORT_COLUMN():
    from app.operations import SortColumn
    assert SortColumn(column_name='LatD')(data)['LatD'].to_list() == sorted(data['LatD'].to_list())

test_SORT_COLUMN()

In [10]:
def test_REINDEX_COLUMN():
    from app.operations import ReindexColumn
    assert ReindexColumn(column_name='City')(data).index.name == 'City'

test_REINDEX_COLUMN()

In [12]:
def test_REMOVE_DUPLICATES_VALUES_COLUMN():
    from app.operations import RemoveDuplicateValuesColumn
    assert list(sorted(RemoveDuplicateValuesColumn(column_names=['State'])(data)['State'].to_list())) == list(sorted(set(data['State'].to_list())))

test_REMOVE_DUPLICATES_VALUES_COLUMN()

In [4]:
import requests as rq
import json

url = "http://127.0.0.1:8000/file"

body = {
    "operations": [
        {
            "code": "RENAME_COLUMN",
            "attributes": {
                "column_names": ["State", "City"],
                "new_names": ["STATE", "CITY"]
            }
        },
        {
            "code": "SORT_COLUMN",
            "attributes": {
                "column_name": "CITY",
                "ascending": True
            }
        }
    ],
}

with open("cities.csv", "rb") as file:
    # Send the request
    response = rq.post(url, json=body, files={"file": file})

# Print the response
print(response.status_code)
print(response.json())

500

JSONDecodeError: Expecting value: line 1 column 1 (char 0)