In [6]:
import pandas as pd

In [7]:
data = pd.DataFrame({
  "A": [0, 300, 100],
  "B": ["Lorem", "Ipsum", "Lineat"]
})

data

     A       B
0    0   Lorem
1  300   Ipsum
2  100  Lineat

In [8]:
from operations import SortColumn

print(SortColumn.__code__)
SortColumn(column_name='A')(data)

SORT_COLUMN

     A       B
0    0   Lorem
2  100  Lineat
1  300   Ipsum

In [9]:
from operations import ReindexColumn
    
print(ReindexColumn.__code__)
ReindexColumn(column_name='A')(data)

REINDEX_COLUMN

          B
A
0     Lorem
300   Ipsum
100  Lineat